<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Admin_login</servlet-name>
        <servlet-class>Admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact_us</servlet-name>
        <servlet-class>Contact_us</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_login</servlet-name>
        <servlet-class>Tenderer_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_login</servlet-name>
        <servlet-class>TM_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_logout</servlet-name>
        <servlet-class>Admin_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_logout</servlet-name>
        <servlet-class>Tenderer_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_logout</servlet-name>
        <servlet-class>TM_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Profile</servlet-name>
        <servlet-class>Admin_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_change_pass</servlet-name>
        <servlet-class>Admin_change_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_update_profile</servlet-name>
        <servlet-class>Tenderer_update_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_change_pass</servlet-name>
        <servlet-class>Tenderer_change_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_registration</servlet-name>
        <servlet-class>Tenderer_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_registration</servlet-name>
        <servlet-class>TM_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_tenderer_approve</servlet-name>
        <servlet-class>Admin_tenderer_approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_new_change_pass</servlet-name>
        <servlet-class>Tenderer_new_change_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_tm_approve</servlet-name>
        <servlet-class>Admin_tm_approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_new_change_pass</servlet-name>
        <servlet-class>TM_new_change_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_change_pass</servlet-name>
        <servlet-class>TM_change_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_otp_send</servlet-name>
        <servlet-class>Admin_otp_send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_forgot_password</servlet-name>
        <servlet-class>Admin_forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_otp_send</servlet-name>
        <servlet-class>Tenderer_otp_send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_forgot_password</servlet-name>
        <servlet-class>Tenderer_forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_otp_send</servlet-name>
        <servlet-class>TM_otp_send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_forgot_password</servlet-name>
        <servlet-class>TM_forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_tender_approve</servlet-name>
        <servlet-class>Admin_tender_approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_block_tender</servlet-name>
        <servlet-class>Admin_block_tender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_block_tenderer</servlet-name>
        <servlet-class>Admin_block_tenderer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_block_tm</servlet-name>
        <servlet-class>Admin_block_tm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_unblock_tender</servlet-name>
        <servlet-class>Admin_unblock_tender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_unblock_tenderer</servlet-name>
        <servlet-class>Admin_unblock_tenderer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_unblock_tm</servlet-name>
        <servlet-class>Admin_unblock_tm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_update_profile</servlet-name>
        <servlet-class>TM_update_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ans_faq</servlet-name>
        <servlet-class>Admin_ans_faq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TM_post_tender</servlet-name>
        <servlet-class>TM_post_tender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenderer_fill_tender</servlet-name>
        <servlet-class>Tenderer_fill_tender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_login</servlet-name>
        <url-pattern>/Admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact_us</servlet-name>
        <url-pattern>/Contact_us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_login</servlet-name>
        <url-pattern>/Tenderer_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_login</servlet-name>
        <url-pattern>/TM_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_logout</servlet-name>
        <url-pattern>/Admin_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_logout</servlet-name>
        <url-pattern>/Tenderer_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_logout</servlet-name>
        <url-pattern>/TM_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Profile</servlet-name>
        <url-pattern>/Admin_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_change_pass</servlet-name>
        <url-pattern>/Admin_change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_update_profile</servlet-name>
        <url-pattern>/Tenderer_update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_change_pass</servlet-name>
        <url-pattern>/Tenderer_change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_registration</servlet-name>
        <url-pattern>/Tenderer_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_registration</servlet-name>
        <url-pattern>/TM_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_tenderer_approve</servlet-name>
        <url-pattern>/Admin_tenderer_approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_new_change_pass</servlet-name>
        <url-pattern>/Tenderer_new_change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_tm_approve</servlet-name>
        <url-pattern>/Admin_tm_approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_new_change_pass</servlet-name>
        <url-pattern>/TM_new_change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_change_pass</servlet-name>
        <url-pattern>/TM_change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_otp_send</servlet-name>
        <url-pattern>/Admin_otp_send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_forgot_password</servlet-name>
        <url-pattern>/Admin_forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_otp_send</servlet-name>
        <url-pattern>/Tenderer_otp_send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_forgot_password</servlet-name>
        <url-pattern>/Tenderer_forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_otp_send</servlet-name>
        <url-pattern>/TM_otp_send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_forgot_password</servlet-name>
        <url-pattern>/TM_forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_tender_approve</servlet-name>
        <url-pattern>/Admin_tender_approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_block_tender</servlet-name>
        <url-pattern>/Admin_block_tender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_block_tenderer</servlet-name>
        <url-pattern>/Admin_block_tenderer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_block_tm</servlet-name>
        <url-pattern>/Admin_block_tm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_unblock_tender</servlet-name>
        <url-pattern>/Admin_unblock_tender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_unblock_tenderer</servlet-name>
        <url-pattern>/Admin_unblock_tenderer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_unblock_tm</servlet-name>
        <url-pattern>/Admin_unblock_tm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_update_profile</servlet-name>
        <url-pattern>/TM_update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ans_faq</servlet-name>
        <url-pattern>/Admin_ans_faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TM_post_tender</servlet-name>
        <url-pattern>/TM_post_tender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenderer_fill_tender</servlet-name>
        <url-pattern>/Tenderer_fill_tender</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Front_page.jsp</welcome-file>
    </welcome-file-list>
</web-app>
